body {
  padding: 0;
  margin: 0;
  cursor: url(./assets/main.png), auto;
  font-family: retropix;
}
@font-face {
  font-family: "retropix";
  src: url("./assets/retropix.otf");
  font-weight: bold;
}
p {
  margin: 0;
}
button {
  cursor: pointer;
  cursor: url(./assets/point.png), pointer;
  -webkit-tap-highlight-color: transparent;
}
.img-container {
  margin-top: 10rem;
}

.posTitle {
  color: white;
}

.container {
  max-width: 20em;
  padding: 1rem;
  position: absolute;
  .video-container {
    position: relative;
    margin-top: 10em;
    height: 50vh;
    width: auto;
  }
  .video-container {
    margin-top: 0em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video-container:first-child {
    overflow: hidden;
  }
  .img-container {
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
  }
  .img-container:first-child {
    overflow: hidden;
  }
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/bg1.jpg);
  background-size: cover;
  background-position: center;
  img {
    height: 15rem;
    position: relative;
    animation-name: StartHome;
    animation-duration: 2s;
  }
  button {
    margin: 2rem;
    font-size: 5rem;
    border: 1rem inset gold;
    background-color: goldenrod;
    animation-name: start;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  button:active {
    font-size: 4rem;
  }
}
@keyframes start {
  100% {
    color: white;
  }
}
@keyframes StartHome {
  0% {
    top: -100rem;
  }
  80% {
    top: -5rem;
  }
  100% {
    top: 0rem;
  }
}
.gameBoy {
  height: 100vh;
  width: 100%;
  background-color: #d1d6cd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  position: absolute;
  .display {
    background-color: black;
    border-radius: 1rem 1rem 3rem 1rem;
    margin: 1rem;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr;
    text-align: center;
    position: relative;
    width: auto;
    .title {
      margin: 0;
      grid-row-start: 2;
      color: white;
      font-size: 150%;
    }
    .menu {
      background-color: white;
      margin: 1rem;
      border-radius: 1rem;
      display: grid;
      grid-template-columns: 10% 1fr 10%;
      grid-template-rows: 10% 1fr 10%;
      align-items: center;
      justify-content: center;
      position: relative;
      width: auto;
      .cadre {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        border: 3px solid black;
        border-style: dashed;
        border-radius: 5px;
        grid-row: 2;
        grid-column: 2;
        width: 85%;
        height: 85%;
        img {
          height: 50%;
        }
        figure {
          border: 10px solid;
          border-style: double;
          padding-top: 10px;
          margin: auto;
          width: 70%;
          height: 50%;
        }
        h1 {
          margin: 0;
        }
        h2 {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          margin: auto;
          padding: 1rem;
          padding-inline: 5rem;
        }
      }
      .rightDirection {
        grid-column: 3;
        grid-row: 2;
        font-size: 200%;
      }
      .leftDirection {
        grid-column: 1;
        grid-row: 2;
        font-size: 200%;
      }
      .upDirection {
        grid-column: 2;
        grid-row: 1;
        font-size: 200%;
      }
      .downDirection {
        grid-column: 2;
        grid-row: 3;
        font-size: 200%;
      }
    }
    .menu-inventory {
      background-image: url(./assets/cuire.jpg);
      background-size: cover;
      h2 {
        background-image: url(./assets/title-inventory.png);
        color: white;
      }
      figure {
        border-color: black;
        background-color: darkgoldenrod;
      }
      .cadre {
        border-color: burlywood;
      }
    }
    .menu-Setting {
      background: radial-gradient(cyan, blue);
      h2 {
        background-image: url(./assets/title-Setting.png);
        background-repeat: no-repeat;
      }
      figure {
        border-color: gray;
        background-color: silver;
      }
      .cadre {
        border-style: double;
        border-color: goldenrod;
      }
    }
  }
  .controller {
    grid-row-start: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(3, 3rem);
    grid-template-rows: 2rem repeat(3, 3rem) 2rem;
    align-content: center;
    justify-content: center;
    button {
      background-color: transparent;
      border: none;
      background-size: cover;
    }
    button:active {
      width: 2.8rem;
      height: 2.8rem;
    }
    .up {
      grid-column: 2;
      grid-row: 2;
      background-image: url(./assets/up.png);
    }
    .down {
      grid-column: 2;
      grid-row: 4;
      background-image: url(./assets/down.png);
    }
    .left {
      grid-column: 1;
      grid-row: 3;
      background-image: url(./assets/left.png);
    }
    .right {
      grid-column: 3;
      grid-row: 3;
      background-image: url(./assets/right.png);
    }
    label {
      background-color: #d1d6cd;
      border-radius: 1rem;
      text-align: center;
      margin: auto;
      padding-inline: 1rem;
    }
    .labelup {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row: 1;
    }
    .labeldown {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row: 5;
    }
  }
  .buttonController {
    grid-row-start: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, 4rem);
    grid-template-rows: repeat(2, 4rem);
    align-content: center;
    justify-content: center;
    button {
      border: none;
      border-radius: 50%;
      background-color: transparent;
      background-size: cover;
    }
    .red {
      background-image: url(./assets/red.png);
    }
    .red:active {
      background-image: url(./assets/redClick.png);
    }

    .green {
      background-image: url(./assets/green.png);
    }
    .green:active {
      background-image: url(./assets/greenClick.png);
    }

    .blue {
      background-image: url(./assets/blue.png);
    }
    .blue:active {
      background-image: url(./assets/blueClick.png);
    }
    .yellow {
      background-image: url(./assets/yellow.png);
    }
    .yellow:active {
      background-image: url(./assets/yellowClick.png);
    }
    .button1 {
      grid-column: 2;
      grid-row: 1;
    }
    .button2 {
      grid-column: 1;
      grid-row: 2;
    }
    label {
      background-color: #d1d6cd;
      border-radius: 1rem;
      text-align: center;
    }
    .label1 {
      grid-column: 1;
      grid-row: 1;
      margin-block: 1.5rem;
    }
    .label2 {
      grid-column: 2;
      grid-row: 2;
      margin-block: 1.5rem;
    }
  }
}
.gameBoyScreen {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10fr 1fr;
  text-align: center;
  height: 100vh;
  position: relative;
  .title {
    margin: 0;
    grid-row-start: 2;
    color: white;
    font-size: 1.5rem;
  }
  .Screen {
    background-color: white;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
  }
  table {
    margin: auto;
    max-width: 17rem;
  }
  table,
  td {
    border: 1px solid #333;
  }
  thead,
  tfoot {
    background-color: #333;
    color: #fff;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    figure {
      margin: 0;
      padding: 1rem;
      img {
        height: 5rem;
      }
      figcaption {
        p {
          background-color: black;
          color: white;
        }
      }
    }
  }
  button {
    background-color: transparent;
    border: none;
    background-size: cover;
    img {
      height: 2rem;
      position: absolute;
      right: 3rem;
      bottom: 2rem;
    }
  }
}
.gameBoyColor {
  width: 50%;
  height: 50%;
  margin: auto;
}

.form-connection {
  background-color: rgba($color: #300963, $alpha: 0.9);
  color: #1c023d;
  border: 3px solid #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #13c7fe,
    0 0 0.8rem #13c7fe, 0 0 2.8rem #13c7fe, inset 0 0 1.3rem #13c7fe;
  padding: 1em;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.connection {
  background-image: url(./assets/murtest.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  img {
    height: 10rem;
    position: absolute;
    top: 25%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.change-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  .default-button {
    background-color: transparent;
    border-radius: 1em;
    border-color: #13c7fe;
    padding: 1em;
    font-size: medium;
    font-family: "retropix";
    color: #fff;
  }
  .selected-button {
    background-color: rgba($color: #2f06a0, $alpha: 0.5);
    border-radius: 1em;
    border-color: #13c7fe;
    padding: 1em;
    font-size: medium;
    font-family: "retropix";
    color: #13c7fe;
  }
}

.form-login,
.form-register {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
  .form-line {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    input {
      font-family: "retropix";
    }
  }
  label {
    color: #fff;
  }
}

.submit-login,
.submit-register {
  font-family: "retropix";
  margin-left: 4em;
  margin-right: 4em;
  background-color: transparent;
  border-radius: 1em;
  border-color: #13c7fe;
  color: white;
  padding: 1em;
}

@media (orientation: landscape) {
  .home {
    flex-direction: row;
    background-image: url(./assets/bg2.jpg);
  }
  .gameBoy {
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr;
    .display {
      grid-row-start: 1;
      grid-column-start: 2;
    }
    .controller {
      grid-row-start: 1;
      grid-column: 1;
    }
    .buttonController {
      grid-row-start: 1;
      grid-column: 3;
    }
  }
  .container {
    .video-container {
      height: 75vh;
      width: 46vw;
    }
  }
  .connection {
    background-image: url(./assets/bg2.jpg);
  }
}
