body {
  padding: 0;
  margin: 0;
  cursor: url(./assets/main.png), auto;
}
button {
  cursor: pointer;
  cursor: url(./assets/point.png), pointer;
  -webkit-tap-highlight-color: transparent;
}
.App {
  height: 100vh;
  background-color: #d1d6cd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
}
.display {
  background-color: black;
  border-radius: 1rem 1rem 3rem 1rem;
  margin: 1rem;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}
.controller {
  grid-row-start: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(3, 3rem);
  grid-template-rows: repeat(3, 3rem);
  align-content: center;
  justify-content: center;
  button {
    background-color: transparent;
    border: none;
    background-size: cover;
  }
  button:active {
    width: 2rem;
    height: 2rem;
  }
  .up {
    grid-column: 2;
    grid-row: 1;
    background-image: url(./assets/up.png);
  }
  .down {
    grid-column: 2;
    grid-row: 3;
    background-image: url(./assets/down.png);
  }
  .left {
    grid-column: 1;
    grid-row: 2;
    background-image: url(./assets/left.png);
  }
  .right {
    grid-column: 3;
    grid-row: 2;
    background-image: url(./assets/right.png);
  }
}
.buttonController {
  grid-row-start: 2;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 4rem);
  grid-template-rows: repeat(2, 4rem);
  align-content: center;
  justify-content: center;
  button {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    background-image: url(./assets/button.png);
    background-size: cover;
  }
  button:active {
    background-image: url(./assets/buttonClick.png);
  }
  .button1 {
    grid-column: 2;
    grid-row: 1;
  }
  .button2 {
    grid-column: 1;
    grid-row: 2;
  }
}
@media (orientation: landscape) {
  .App {
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr;
  }
  .display {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .controller {
    grid-row-start: 1;
    grid-column: 1;
  }
  .buttonController {
    grid-row-start: 1;
    grid-column: 3;
  }
}
