body {
  padding: 0;
  margin: 0;
  cursor: url(./assets/main.png), auto;
  font-family: Shojumaru;
  font-size: small;
}
@font-face {
  font-family: "retropix";
  src: url("./assets/retropix.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Shojumaru";
  src: url("./assets/Shojumaru-Regular.ttf");
}
p {
  margin: 0;
}
button {
  cursor: pointer;
  cursor: url(./assets/point.png), pointer;
  -webkit-tap-highlight-color: transparent;
}

.posTitle {
  color: white;
}
.divAddFriends {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  input {
    margin-block: 1rem;
    border: 3px solid;
  }
  .addFriends {
    font-size: 2rem;
    background-color: gray;
    border-radius: 50%;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
}
.alllist {
  overflow: overlay;
}
.container {
  max-width: 20em;
  padding: 1rem;
  position: relative;
  .video-container {
    margin-top: 10em;
    height: 50vh;
    width: auto;
    margin-top: 0em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video-container:first-child {
    overflow: hidden;
  }
  .img-container {
    margin-top: 10em;
    height: 50vh;
    width: 100%;
    margin-top: 0em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-container:first-child {
    overflow: hidden;
  }
}

.home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 90%;
    height: fit-content;
  }
}
@keyframes start {
  100% {
    color: white;
  }
}
@keyframes StartHome {
  0% {
    top: -100rem;
  }
  80% {
    top: -5rem;
  }
  100% {
    top: 0rem;
  }
}
.gameBoy {
  height: 100vh;
  width: 100%;
  background-color: hsl(93, 10%, 82%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  position: absolute;
  .display {
    background-color: black;
    border-radius: 1rem 1rem 3rem 1rem;
    margin: 1rem;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr;
    text-align: center;
    position: relative;
    width: auto;
    .container {
      overflow: overlay;
    }
    .title {
      margin: 0;
      grid-row-start: 2;
      color: white;
      font-size: 150%;
    }
    .menu {
      font-family: retropix;
      font-size: initial;
      background-color: white;
      margin: 1rem;
      border-radius: 1rem;
      display: grid;
      grid-template-columns: 10% 1fr 10%;
      grid-template-rows: 10% 1fr 10%;
      align-items: center;
      justify-content: center;
      position: relative;
      width: auto;
      .cadre {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        border: 3px solid black;
        border-style: dashed;
        border-radius: 5px;
        grid-row: 2;
        grid-column: 2;
        width: 85%;
        height: 85%;
        img {
          height: 50%;
        }
        figure {
          border: 10px solid;
          border-style: double;
          padding-top: 10px;
          margin: auto;
          width: 70%;
          height: 50%;
        }
        h1 {
          margin: 0;
        }
        h2 {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          margin: auto;
          padding: 0.5rem;
          padding-inline: 1rem;
        }
      }
      .rightDirection {
        grid-column: 3;
        grid-row: 2;
        font-size: 200%;
      }
      .leftDirection {
        grid-column: 1;
        grid-row: 2;
        font-size: 200%;
      }
      .upDirection {
        grid-column: 2;
        grid-row: 1;
        font-size: 200%;
      }
      .downDirection {
        grid-column: 2;
        grid-row: 3;
        font-size: 200%;
      }
    }
    .menu-inventory {
      background-image: url(./assets/cuire.jpg);
      background-size: cover;
      h2 {
        color: white;
        background-color: black;
        border: 5px solid gold;
        border-radius: 10px 100px / 120px;
      }
      figure {
        border-color: black;
        background-color: darkgoldenrod;
      }
      .cadre {
        border-color: burlywood;
      }
    }
    .menu-Setting {
      background: radial-gradient(cyan, blue);
      h2 {
        background-color: whitesmoke;
        border-radius: 10px 100px / 120px;
        border: 5px solid gold;
      }
      figure {
        border-color: gray;
        background-color: silver;
      }
      .cadre {
        border-style: double;
        border-color: goldenrod;
      }
    }
  }
  .controller {
    grid-row-start: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(3, 3rem);
    grid-template-rows: 2rem repeat(3, 3rem) 2rem;
    align-content: center;
    justify-content: center;
    button {
      background-color: transparent;
      border: none;
      background-size: cover;
    }
    button:active {
      width: 2.8rem;
      height: 2.8rem;
    }
    .up {
      grid-column: 2;
      grid-row: 2;
      background-image: url(./assets/up.png);
    }
    .down {
      grid-column: 2;
      grid-row: 4;
      background-image: url(./assets/down.png);
    }
    .left {
      grid-column: 1;
      grid-row: 3;
      background-image: url(./assets/left.png);
    }
    .right {
      grid-column: 3;
      grid-row: 3;
      background-image: url(./assets/right.png);
    }
    label {
      background-color: #d1d6cd;
      border-radius: 1rem;
      text-align: center;
      margin: auto;
      padding-inline: 1rem;
    }
    .labelup {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row: 1;
    }
    .labeldown {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row: 5;
    }
  }
  .buttonController {
    grid-row-start: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, 4.5rem);
    grid-template-rows: repeat(4, 4.5rem);
    align-content: center;
    justify-content: center;
    button {
      border: none;
      border-radius: 50%;
      background-color: transparent;
      background-size: cover;
    }
    .red {
      background-image: url(./assets/red.png);
    }
    .red:active {
      background-image: url(./assets/redClick.png);
    }
    .green {
      background-image: url(./assets/green.png);
    }
    .green:active {
      background-image: url(./assets/greenClick.png);
    }
    .blue {
      background-image: url(./assets/blue.png);
    }
    .blue:active {
      background-image: url(./assets/blueClick.png);
    }
    .yellow {
      background-image: url(./assets/yellow.png);
    }
    .yellow:active {
      background-image: url(./assets/yellowClick.png);
    }
    .button1 {
      grid-column: 2;
      grid-row: 2;
    }
    .button2 {
      grid-column: 1;
      grid-row: 3;
    }
    label {
      background-color: #d1d6cd;
      border-radius: 0.5rem;
      text-align: center;
      bottom: 0;
      margin-top: auto;
    }
    .label1 {
      grid-column: 2;
      grid-row: 1;
    }
    .label2 {
      grid-column: 1;
      grid-row: 2;
    }
  }
}
.gameBoyScreen {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10fr 1fr;
  text-align: center;
  height: 100vh;
  position: relative;
  h1 {
    margin: 0;
  }
  .title {
    margin: 0;
    grid-row-start: 2;
    color: white;
    font-size: 1.5rem;
  }
  .Screen {
    background-color: #f2f2f2;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    overflow: overlay;
    background-image: url(./assets/brickwall_beige.png);
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
  }
  table {
    margin: auto;
    margin-top: 3em;
    max-width: 17rem;

    td {
      padding: 1em;
    }
    th {
      font-size: larger;
    }
    tbody {
      font-size: 20px;
      tr:nth-child(even) {
        color: blue;
      }
      tr:nth-child(odd) {
        color: rgb(117, 39, 11);
      }
    }
  }

  thead,
  tfoot {
    font-size: large;
    color: black;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    figure {
      margin: 0;
      padding: 1rem;
      img {
        height: 5rem;
      }
      figcaption {
        display: flex;
        flex-direction: column;
        font-family: "retropix";
        .pScore {
          background-color: black;
          color: white;
        }
      }
    }
  }
  button {
    background-color: transparent;
    border: none;
    background-size: cover;
    img {
      height: 2rem;
      position: absolute;
      right: 3rem;
      bottom: 2rem;
    }
  }
}
.gameBoyColor {
  width: 50%;
  height: 50%;
  margin: auto;
  border-radius: 1rem;
}

.form-connection {
  background-color: rgba($color: #300963, $alpha: 0.9);
  border: 3px solid #fff;
  padding: 1em;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.connection {
  img {
    height: 10rem;
    position: absolute;
    top: 25%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.change-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  .default-button {
    background-color: transparent;
    border-radius: 1em;
    border-color: #13c7fe;
    padding: 1em;
    font-size: medium;
    font-family: "retropix";
    color: #fff;
  }
  .selected-button {
    border-radius: 1em;
    padding: 1em;
    font-size: medium;
    font-family: "retropix";
    color: black;
    border: 1px solid white;
  }
}

.form-login,
.form-register {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
  .form-line {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    input {
      font-family: "retropix";
    }
  }
  label {
    color: #fff;
    margin: auto;
  }
}

.submit-login,
.submit-register {
  font-family: "retropix";
  margin-left: 4em;
  margin-right: 4em;
  background-color: transparent;
  border-radius: 1em;
  border-color: #13c7fe;
  color: white;
  padding: 1em;
}
.error-message {
  color: red;
  text-align: center;
}
// SCCS pour la liste d'amis

.container-list {
  color: #fff;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 10fr;
  .buttonlist {
    display: flex;
    justify-content: space-evenly;
    button {
      color: #fff;
      font-family: retropix;
      background-color: #21afda;
      border-radius: 1rem;
      margin-block: 1rem;
      font-size: large;
      padding: 0.5rem;
    }
  }
  p {
    color: #fff;
    font-family: Shojumaru;
  }
}

.title-list {
  font-size: 50px larger;
  color: #21afda;
  text-align: center;
}

.friends {
  background-color: #21afda;
  gap: 3px;
  border-radius: 2px;
  display: grid;
  grid-template-columns: auto;
  height: max-content;
}

.message {
  color: #000;
  text-align: center;
  border-radius: 1rem;
  top: 3%;
  bottom: 12%;
  left: 7%;
  right: 7%;
  display: grid;
  position: absolute;
  grid-template-rows: auto 1fr auto;
  .messages {
    overflow: overlay;
    display: flex;
    flex-direction: column;
    background-image: url("./assets/mur.png");
    .allMessage {
      color: #000;
      border-radius: 1rem;
      margin: 0.1rem;
      margin-inline: 1rem;
      padding: 0.5rem;
    }
    .myMessage {
      background-color: deepskyblue;
    }
    .yourMessage {
      background-color: seashell;
    }
  }
  .allMessages {
    display: flex;
    justify-content: flex-start;
  }
  .myMessages {
    justify-content: flex-end;
  }
  .return {
    position: relative;
    left: -2rem;
    top: 0.3rem;
  }
  form {
    display: flex;
    justify-content: center;
    .send {
      padding-inline: 1px;
      margin-inline: 0.5rem;
    }
  }
}

.map-container {
  display: flex;
  align-items: center;
}

.description-street-art {
  display: flex;
  flex-direction: column;
  p {
    margin: 2em;
  }
}
.img-info-street-art {
  max-width: 100%;
}

.popup {
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-color: #13c7fe;
  border-radius: 1rem;
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  z-index: 1;
  .popupButton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    button {
      font-size: x-large;
    }
  }
}

@media (orientation: landscape) {
  .gameBoy {
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr;
    .display {
      grid-row-start: 1;
      grid-column-start: 2;
    }
    .controller {
      grid-row-start: 1;
      grid-column: 1;
    }
    .buttonController {
      grid-row-start: 1;
      grid-column: 3;
    }
  }
  .container {
    .video-container {
      height: 75vh;
      width: 46vw;
    }
  }
  .connection {
    background-image: url(./assets/bg2.jpg);
  }

  .friendslist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.artistCards {
  img {
    width: auto;
    height: 13rem;
  }
  .artistCardContent {
    padding: 1em;
  }
}

.map-global-container {
  height: 100%;
}
.validationButton {
  border: 0;
  line-height: 2.5;
  font-size: 0.6rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.validationButton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
